<?xml version="1.0"?>
	<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
	</configSections>
	<connectionStrings>
		<add name="DBConectaRCTENNIS" providerName="System.Data.SqlClient" connectionString="Data Source=RAFAEL; Initial Catalog=RCTENNIS;;uid=RCTENNIS;password=123456;"/>
	</connectionStrings>
</configuration>


ADicionado teste aqui