@{
    ViewBag.Title = "Estoque Cadastro";
}


<h3>Estoque</h3>

<div>
    @Html.ActionLink("Voltar", "Index", "Home", null, new { @class = "btn btn-dark" })
    <input type="submit" class="btn btn-secondary" value="Salvar" />

</div>